<md-dialog>
    <md-dialog-content layout="column">
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="user.name.first">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="user.name.last">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="user.email">
        </md-input-container>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Github</label>
                <input ng-model="user.address.github">
            </md-input-container>
            <md-input-container flex>
                <label>Linkedin</label>
                <input ng-model="user.address.linkedin">
            </md-input-container>
        </div>
        <md-button class="md-primary md-raised" ng-click="save()">Save</md-button>
    </md-dialog-content>
</md-dialog>
