body{
  font-family:  'Avenir Next', 'Segoe UI', 'Droid Sans', 'Helvetica';
  margin: 0;
}
.md-button{
  margin:0 !important;
}
input.user{
  margin: 15px 0;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none
}
input.user:focus{
  border-color: #0000FF;
}
.md-button{
  margin: 15px 0 !important;
}
md-checkbox{
  margin-left: 0;
}
md-toolbar{
  padding: 0 20px;
}
.profileItem{
  font-family: 'Avenir Next', 'Segoe UI', 'Droid Sans', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.15px;
  color: rgba(0,0,0,0.870588);
  padding-left: 16px;
}
.green{
  background-color: green!important;
}